<!DOCTYPE html>

  <head>
    <style>
      .container { width: 100%; font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto; } span { display: block; } img { max-width: 90px; }
    </style>
  </head>
  <body>
    <div class="container">
  <img
      src="https://res.cloudinary.com/dmt0cykex/image/upload/v1689266346/ALLGRAY_akzlaj.png"
      alt="Logo LmStore, um controle de video game antigo, com o nome da empresa logo abaixo"
    />
   <br />
   <br>
  <span>Olá
    {{name}} :)
  </span>
   {{#if products.[1]}}
   <p>A compra dos produtos a baixo foi finalizada com sucesso.</p>
  {{#each products}} 
      <p>{{this}} - Chave do produto XXXX-XXXX-XXXX-XXXX</p>
  {{/each}}
  {{else}}
    <p>A compra do produto {{products}} foi finalizada com sucesso. A chave do produto é AB1C-2DE3-FG45-6HI7</p>
  {{/if}}
  <p>Obrigado pela confiança, conte conosco.</p>
  <h3>Equipe | <strong>LMStore</strong></h3>
</div>
  </body>
</html>


