<!DOCTYPE html>

  <head>
    <style>
      .container { width: 100%; font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto; } span { display: block; } img { max-width: 90px; }
    </style>
  </head>
  <body>
    <div class="container">
  <img
      src="https://res.cloudinary.com/dmt0cykex/image/upload/v1689266346/ALLGRAY_akzlaj.png"
      alt="Logo LmStore, um controle de video game antigo, com o nome da empresa logo abaixo"
    />
  <br />
  <br>
  <span>Olá, {{name}} </span>
  <br />
  <p>Confirme seu e-mail para termos certeza de que a solicitação partiu de você</p>
  <p>A confirmação do seu e-mail é importante para enviarmos confirmações de
    compras e alteração de sua senha.</p>
  <br />
  <span>Para realizar a confirmação clique no link
    <a href="https://{{link}}">{{link}}</a>
  </span>
  <br />
  <span>Caso não tenha sido você, entre em contato com nossa equipe de suporte.</span>
  <br />
  <h3>Equipe | <strong>LMStore</strong></h3>
</div>
  </body>
</html>


