<!DOCTYPE html>

  <head>
    <style>
      .container { width: 100%; font-family: Arial, Helvetica, sans-serif;
      margin: 0 auto; } span { display: block; } img { max-width: 90px; }
    </style>
  </head>
  <body>
    <div class="container">
      <img
        src="https://res.cloudinary.com/dmt0cykex/image/upload/v1689266346/ALLGRAY_akzlaj.png"
        alt="Logo LmStore, um controle de video game antigo, com o nome da empresa logo abaixo"
      />
      <br>
      <br>
      <span>Olá, {{name}}. Você solicitou alteração de senha. </span>
      <br />
      <span>Para realizar a alteração acesse o link
        <a href="{{link}}">{{link}}</a>
      </span>
      <br>
      <span>Caso não tenha sido você, desconsidere este e-mail</span>
      <br />
      <h3>Equipe | <strong>LMStore</strong></h3>
    </div>
  </body>
</html>